﻿@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<StudySpy.Web.Models.FileDto>

<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">File List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-action="FileCreate" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Create New File</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>File Id</th>
				<th>Name</th>
				<th>Link</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (var item in Model)
				{
				string fileUrl = @Context.Request.Scheme + "://" + @Context.Request.Host + @item.Link;
			   <tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td><a href="@fileUrl">@fileUrl</a></td>
				<td>
				 <a asp-action="FileDelete" class="btn btn-danger" asp-route-fileId="@item.Id">
				  <i class="fas fa-trash"></i>
				 </a>
				</td>
			   </tr>
				}
			}
		</tbody>
	</table>
</div>