﻿@model StudySpy.Web.Models.FileDto


<form asp-action="FileCreate" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create File</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                File
            </div>
            <div class="col-10 pb-3">
                 <input type="file" class="form-control" name="File" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="FileIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
        <div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}